<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="View your book suggestion based on ratings.">
    <meta name="keywords" content="Book Suggestion, Book Library, Book Details">
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='suggest.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Grey+Qo&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
    <title>Book Suggestion</title>
</head>
<body>
    <header>
        <h1>Book Suggestion</h1>
    </header>

    <div class="details-container">
        {% if suggested_book %}
            <div class="info-section">
                <p><strong>Title:</strong> {{ suggested_book.title }}</p>
                <p><strong>ISBN:</strong> {{ suggested_book.isbn }}</p>
                <p><strong>Publication Year:</strong> {{ suggested_book.publication_year }}</p>
                <p><strong>Rating:</strong> {{ suggested_book.rating }}</p>
                <p><strong>Summary:</strong> {{ suggested_book.summary }}</p>
                <p>
                    <img src="https://covers.openlibrary.org/b/isbn/{{ suggested_book.isbn }}-L.jpg" alt="{{ suggested_book.title }} cover image" style="width: 200px;">
                </p>
            </div>
        {% else %}
            <div class="info-section">
                <p>No book with a rating over 7 found in your library.</p>
            </div>
        {% endif %}

        <div class="button-group">
            <a href="{{ url_for('home') }}" class="action-button back-to-library">Back to Library</a>
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 My Book Library. All rights reserved.</p>
            <p>Designed and developed with ❤️ by Svea.</p>
        </div>
    </footer>
</body>
</html>
