<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Manage your book library, search, and organize books by title, author, year, or rating.">
    <meta name="keywords" content="Book Library, Book Management, Search Books, Book Ratings">
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Grey+Qo&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
    <title>My Book Library</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='sort.js') }}"></script>
    <script src="{{ url_for('static', filename='action.js') }}"></script>
</head>
<body>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash-messages">
                {% for category, message in messages %}
                    <li class="message-container {{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <header>
        <h1>Book Library</h1>
    </header>

    <!-- Cockpit -->
    <section>
        <form class="search-form" action="{{ url_for('home') }}" method="GET">
            <div class="form-content">
                <label for="search_query" class="form-label">Find Books</label>
                <div class="search-input-wrapper">
                    <span class="search-icon material-symbols-outlined">search</span>
                    <input type="text" name="search_query" id="search_query" placeholder="Search Title, Author or ISBN..." value="{{ search_query }}">
                </div>
            </div>
            <div class="button-group">
                <a href="{{ url_for('home') }}" class="cancel-button">Clear</a>
                <button type="submit" class="search-button">Search</button>
            </div>
        </form>

        <nav>
            <a href="{{ url_for('add_author') }}" class="add-button">
                <span class="material-symbols-outlined">person_add</span>Add Author
            </a>
            <a href="{{ url_for('add_book') }}" class="add-button">
                <span class="material-symbols-outlined">library_add</span>Add Book
            </a>
            <a href="{{ url_for('suggest_book') }}" class="add-button">
                <span class="material-symbols-outlined">lightbulb</span>Suggest Book
            </a>
        </nav>
    </section>

    <!-- Books Table or No Books Found Message -->
    {% if no_books_found %}
        <p>No books found matching the search criteria.</p>
    {% else %}
    <table>
        <thead>
            <tr>
                <th class="sortable {% if sort_by == 'title' and sort_order == 'asc' %}sorted-asc{% elif sort_by == 'title' and sort_order == 'desc' %}sorted-desc{% endif %}" data-sort="title">Title</th>
                <th class="sortable {% if sort_by == 'author' and sort_order == 'asc' %}sorted-asc{% elif sort_by == 'author' and sort_order == 'desc' %}sorted-desc{% endif %}" data-sort="author">Author</th>
                <th class="sortable {% if sort_by == 'publication_year' and sort_order == 'asc' %}sorted-asc{% elif sort_by == 'publication_year' and sort_order == 'desc' %}sorted-desc{% endif %}" data-sort="publication_year">Year</th>
                <th class="sortable {% if sort_by == 'rating' and sort_order == 'asc' %}sorted-asc{% elif sort_by == 'rating' and sort_order == 'desc' %}sorted-desc{% endif %}" data-sort="rating">Rating</th>
                <th>ISBN</th>
                <th>Cover Image</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for book in books %}
            <tr>
                <td><a href="{{ url_for('book_detail', book_id=book.id) }}">{{ book.title }}</a></td>
                <td><a href="{{ url_for('author_detail', author_id=book.author.id) }}">{{ book.author.name }}</a></td>
                <td>{{ book.publication_year }}</td>
                <td>{{ book.rating if book.rating else 'N/A' }}</td>
                <td>{{ book.isbn }}</td>
                <td>
                    <img class="book-cover" src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-L.jpg" alt="{{ book.title }} cover">
                </td>
                <td class="actions">
                    <div class="action-buttons">
                        <form action="{{ url_for('delete_book', book_id=book.id) }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this book?');">
                            <button type="submit" class="icon-button">
                                <span class="material-symbols-outlined">delete</span>
                            </button>
                        </form>
                        <a href="{{ url_for('edit_book', book_id=book.id) }}" class="icon-button">
                            <span class="material-symbols-outlined">edit</span>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
    <ul class="pagination">
        {% if pagination.has_prev %}
            <li><a href="{{ url_for('home', page=pagination.prev_num, sort_by=sort_by, sort_order=sort_order, search_query=search_query) }}">Previous</a></li>
        {% endif %}

        {% for page_num in pagination.iter_pages() %}
            {% if page_num %}
                <li class="{{ 'active' if page_num == pagination.page else '' }}">
                    <a href="{{ url_for('home', page=page_num, sort_by=sort_by, sort_order=sort_order, search_query=search_query) }}">{{ page_num }}</a>
                </li>
            {% else %}
                <li class="disabled"><span>...</span></li>
            {% endif %}
        {% endfor %}

        {% if pagination.has_next %}
            <li><a href="{{ url_for('home', page=pagination.next_num, sort_by=sort_by, sort_order=sort_order, search_query=search_query) }}">Next</a></li>
        {% endif %}
    </ul>
</div>
    {% endif %}

    <footer>
    <div class="footer-content">
        <p>&copy; 2024 My Book Library. All rights reserved.</p>
        <p>Designed and developed with ❤️ by Svea.</p>
    </div>
</footer>
</body>
</html>
